
<table class="table table-list">
<thead>
  <tr>
    <th>商品名</th>
  </tr>
</thead>
<% @word_of_mouths.each do |word_of_mouth| %>
<tbody>
<tr>
  <td><%= word_of_mouth.name %></td>
</tr>
</tbody>
<% end %>
</table>