// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-new{
    form{
        textarea{
            width: 100%;
        }
        .button {
            position: relative;
            text-align: center;
            /* 中央揃え */
            display: block;
            margin: 0 auto;
            /* 幅の指定 */
            width: 100%;
            max-width: 200px;
            box-sizing: border-box;
            padding: 10px;
            /* 色の指定 */
            background: linear-gradient(135deg, #ffd900, #ff9300);
            color: #fff;
            font-weight: bold;
            border-radius: 8px;
            transition: 0.3s;
            border: 2px solid #ff9300;
            background: #fff;
            color: #ff9300;
          }
          .button:hover {
            background: #ff9300;
            color: #fff;
          }
          .button.active, .flat.border:focus {
            top: 2px;
          }
    }
}